@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1c1c1c;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {min-width: 50%;}

h1 {
    text-align: center;
}

label {
    padding-right: 10px;
}

table {
    border: lightgray 1px solid;
}

a {
    color: aqua;
}

a:hover {
    color: aquamarine;
}

.playerData {
    margin: 5px;
    color: darkmagenta;
}

.formInput {
    display: flex;
    justify-content: space-between;
}
